@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', sans-serif;
}
.wrapper{
    margin: 10px 40px 10px 40px;
    padding: 23px 155px 23px 169px;
    background-color: #fff;
    outline: 1px solid gray;    
}
.intro{
    display: grid;
    grid-template-columns: 75% 25%;
    grid-gap: 20px;
}

.right h1{
    font-size:2.5em;
}

.right p{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
    font-weight: 400;
}

.left{
    padding-top: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: .8rem;
    line-height: 23px;
}


/* EXPERIENCE */

.experience, .education{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}


.right-exp h3, .right-edu h3{
    text-transform: uppercase;
    font-size: 1.2rem;
    color: #2079C8;
    font-family: 'Open Sans';
}

i{
    font-weight: 300;
    color: #2E4456;
}


.exp-box h4, .edu-box h4{
    font-size: small;
    font-size: .97rem;
}

.dates{
    color: #666666;
    font-size: 14px;
}

.exp-box ul, .edu-box ul{
    color: #666;
    padding: 1em 15em 1em 1em;
}

.exp-box li, .edu-box li{
    font-size: 14px;
}


.left-exp, .left-edu{
    margin-right: 15px;
}

.skill-box{
    margin-bottom: 10px;
}

.skill-box h4, .language-box h4{
    text-transform: uppercase;
    font-size: 1rem;
    color: #2079C8;
    font-family: 'Open Sans';
}

.skill-box p, .language-box p{
    font-size: 12px;
    color: #666;
    padding-right: 39px;
    line-height: 1.2rem;
}

.skill-box span{
    font-weight: 700;
}


/* EDUCATION */
